body {
    background-color: #111;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 2rem;
}

.container {
    max-width: 600px;
    margin: auto;
}

input, button {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
}

.submit-name {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 0.5rem 1rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-name:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.05);
}

.submit-name:active {
  transform: scale(1.015);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.1rem;
    padding: 0.5rem 1.3rem;
  }
}

.input-name {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.1);
}
.input-answer {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.1);
}

.submit-riddle-ans, .show-hint-button, .exit-to-home {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-riddle-ans:hover, .show-hint-button:hover, .exit-to-home:hover {
  background-color: rgb(249,250,251);
}

.submit-riddle-ans:focus, .show-hint-button:focus, .exit-to-home:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submit-riddle-ans:focus-visible, .show-hint-button:focus-visible, .exit-to-home:focus-visible {
  box-shadow: none;
}

.fail-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #800000 0%, #000 100%);
    opacity: 0.9;
    z-index: 9999;
    animation: bloodflash 1.5s ease-out;
}

@keyframes bloodflash {
0% { transform: scale(0.95); opacity: 0.6;}
50% { transform: scale(1.02); opacity: 0.95;}
100% { transform: scale(1); opacity: 0;}  
}