<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital scale=1.0"> 
    <title>MindMaze</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">
    <h1>Welcome to MindMaze!</h1>
    
    {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.username }}!</p>
        <form action="{{ url_for('start_game') }}" method="POST">
            <button type="submit" class="submit-name">Start Game</button>
        </form>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <p>You need to be logged in to play.</p>
        <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

</div>    
</body>
</html>