<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital scale=1.0"> 
    <title>MindMaze</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">
    <h1>Welcome to MindMaze!</h1>
    <p>Enter your name to begin.</p>
    <form action="{{ url_for('start_game') }}" method="POST">
        <input type="text" name="username" placeholder="Your Name" required autocomplete="off" class="input-name">
        <button type="submit" class="button-73">Start Game</button>
    </form>
</div>    
</body>
</html>